<?xml version="1.0"?>
	<robot name="ligong">
<!-- Put here the robot description -->
<!--the robot fram for world frame -->
	<link name ="world"/>
	<joint name="glue robot to world" type ="fixed" >
		<parent link = "world" />
		<child link = "link" />	
	</joint>
	
<!--Base link-->


<!--add the visual mode-->
<collision>
	<geometry>
		<box size = "0.2 0.0 1"/>
	</geometry>

</collision>




<visual>
	<origin xyz = "0 0 0.5" rpy= "0 0 0 "/>
	<geometry>
		<box size = "0.2 0.2 1" />
	</geometry>
</visual>




<!--the mass-->
<inertial>
	<origin xyz ="0 0 0.5" rpy="0 0 0"/>
	<mass value ="1" />
	<inertia
		ixx = "1.0" ixy = "0.0"  ixz="0.0"
		iyy = "1.0" iyz = "0.0"
		izz = "1.0" />
</inertial>




		
</robot>
